.Auth{
    display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   gap: 4rem;
   position: relative;
   
}
.Auth>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-left{
    gap: 2rem;
}
.auth-left>img{
    width: 4.5rem;
    height: 4rem;
}
.webname>h1{
    font-size: 3rem;
    background-color: red; 
    /* create a gradiant */
    background-image: var(--buttonBgs);
    background-size: 100%;
    background-repeat: repeat;
    /* this will show the gradient as text color rather tha element background */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
}
.webname>h6{
    font-size: 0.85rem;
}
.infoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.infoInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1 ;
    gap: 2rem;
    /* flex 1 will convert the width of input to the total 
     available space if there are two inputs than
    both input will take equal space */
}
.infoForm>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 100%;
}
.sign-button{
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}
.authForm{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}
.authForm>div{
    width: 100%;
    align-items: center;
    justify-content: center;
}